.container {
    border: 4px #662d91;
    border-style: solid;
    border-radius: 5px;
    max-width: 200px;
    text-align: center;
    padding: 10px;
    background-color: #dddddd;
    list-style-position: inside;
    margin-bottom: 10px;
}
.form-component{
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}


.container input[type="text"]{
    border: 2px solid #662d91;
    border-radius: 4px;
    background-color: #f3f3f3;
}
.container input[type="text"]:focus {
    background-color: lightblue;
} 
.container input[type="checkbox"]{
    border-radius: 100%;
    cursor: pointer;
}
.customcb {
    width: 17px;
    height: 17px;
    /* margin: 3px 0 2px 0; */
    background: red;
    border-radius: 100%;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  }