.container {
    border: 4px #662d91;
    border-style: solid;
    border-radius: 5px;
    max-width: 200px;
    text-align: center;
    padding: 10px;
    background-color: #dddddd;
    list-style-position: inside;
    margin-bottom: 10px;
}
.form-component{
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    width:50%;
}

.container input[type="text"]{
    border: 2px solid #662d91;
    border-radius: 4px;
    background-color: #f3f3f3;
}
.container input[type="text"]:focus {
    background-color: lightblue;
} 
.container input[type="checkbox"]{
    border-radius: 100%;
    cursor: pointer;
}